*{
    box-sizing: border-box;
}

body{
    background-color: white;
    color:white;
    margin: 0;

}
#wrapper{
    
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding:10px;
}

header{
    flex-basis: 100%;
    background-color: #9132a8;
    color:white
   
}


section{
    flex-basis: 100%;
    color:#9132a8
}

section img{
    float:left
}

section h1{
    font-size: 90px;
}

aside{
    flex-basis: 20%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

a:link {
    color: rgb(255, 249, 249);
  }
  
  
  a:visited {
    color: rgb(242, 248, 242);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(20, 19, 20);
    background-color: white;
  }
  
 
a:active{
    color:#4e075f
}

aside div{
    background-color: #9132a8;
    width:90%;
    padding: 20px;
    margin:10px
    
}
aside h2{
    text-align: center;
}

aside ul{
    list-style: none;
}
aside li{
    font-size: 25px;
    margin-top: 10px;
}


main{
    flex-basis: 79%;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main div{
    background-color: #9132a8;
    width:90%;
    padding: 20px;
    margin:10px
}



main div img{
    float:right;
    margin: 10px;
}

#experience img{
    float: left;
    
}
#oppositeSide{
    width:auto;
    margin-left: 450px;
    padding: 0;
    
   
}


footer{
    flex-basis: 100%;
    background-color: #9132a8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer p{
    flex-basis: 100%;
    text-align: center;
}

header ul{
      list-style: none;
      display: flex;
      flex-direction: row-reverse;
      
}

nav li,footer li{
    display: inline-block;
    margin:10px;
    font-size: 20px;
}

li a{
    text-decoration: none;
}